// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$fontFamily: 'Montserrat', 'Sant Serif';
$mainColor: #FF699F;
$footerColor: #1F1F1F;

$marginContainerL: 72px;
$marginContainerM: 35px;
$marginContainerS: 16px;
$paddingShadow : 20px;

$heightMenuL: 72px;
$heightMenuS: 57px;
